@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-box-lg {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ant-btn {
  border: none;
  outline: none;
}

.ant-btn-default:hover,
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover.ant-btn {
  /* color: inherit; */
  border: none;
  outline: none;
}
